# tables_us_data.ipynb

Build tables of the latest COVID-19 statistics for U.S. counties.

Inputs:
* `data/us_counties_clean.csv`: The contents of `data/us_counties.csv` after data cleaning by `clean.ipynb`
* `data/us_counties_clean_meta.json`: Column type metadata for reading `data/us_counties_clean.csv` with `pd.read_csv()`

In [1]:
# Initialization boilerplate
import os
import json
import pandas as pd
import numpy as np
from typing import *

import text_extensions_for_pandas as tp

# Local file of utility functions
import util

_DATA_DIR = os.getenv("COVID_DATA_DIR", "../data")

In [2]:
# Read in the CSV file and apply the saved type information
csv_file = os.path.join(_DATA_DIR, "us_counties_clean.csv")
meta_file = os.path.join(_DATA_DIR, "us_counties_clean_meta.json")

# Read column type metadata
with open(meta_file) as f:
    cases_meta = json.load(f)

# Pandas does not currently support parsing datetime64 from CSV files.
# As a workaround, read the "Date" column as objects and manually 
# convert after.
cases_meta["Date"] = "object"

cases_vertical = (
    pd
    .read_csv(csv_file, dtype=cases_meta, parse_dates=["Date"])   
    .set_index(["FIPS", "Date"], verify_integrity=True)
)
cases_vertical

                    State   County  Population  Confirmed  Deaths  Recovered  \
FIPS  Date
1001  2020-01-22  Alabama  Autauga       55869          0       0          0
      2020-01-23  Alabama  Autauga       55869          0       0          0
      2020-01-24  Alabama  Autauga       55869          0       0          0
      2020-01-25  Alabama  Autauga       55869          0       0          0
      2020-01-26  Alabama  Autauga       55869          0       0          0
...                   ...      ...         ...        ...     ...        ...
56045 2020-05-13  Wyoming   Weston        6927          0       0          0
      2020-05-14  Wyoming   Weston        6927          0       0          0
      2020-05-15  Wyoming   Weston        6927          0       0          0
      2020-05-16  Wyoming   Weston        6927          0       0          0
      2020-05-17  Wyoming   Weston        6927          0       0          0

                  Confirmed_Outlier  Deaths_Outlier  Recovered_Outlier
FIPS  Date
1001  2020-01-22              False           False              False
      2020-01-23              False           False              False
      2020-01-24              False           False              False
      2020-01-25              False           False              False
      2020-01-26              False           False              False
...                             ...             ...                ...
56045 2020-05-13              False           False              False
      2020-05-14              False           False              False
      2020-05-15              False           False              False
      2020-05-16              False           False              False
      2020-05-17              False           False              False

[367614 rows x 9 columns]

In [3]:
# Normalize the Confirmed and Deaths counts by population.
cases = cases_vertical.copy()
cases["Confirmed_per_100"] = cases["Confirmed"] / cases["Population"] * 100
cases["Deaths_per_100"] = cases["Deaths"] / cases["Population"] * 100
cases

                    State   County  Population  Confirmed  Deaths  Recovered  \
FIPS  Date
1001  2020-01-22  Alabama  Autauga       55869          0       0          0
      2020-01-23  Alabama  Autauga       55869          0       0          0
      2020-01-24  Alabama  Autauga       55869          0       0          0
      2020-01-25  Alabama  Autauga       55869          0       0          0
      2020-01-26  Alabama  Autauga       55869          0       0          0
...                   ...      ...         ...        ...     ...        ...
56045 2020-05-13  Wyoming   Weston        6927          0       0          0
      2020-05-14  Wyoming   Weston        6927          0       0          0
      2020-05-15  Wyoming   Weston        6927          0       0          0
      2020-05-16  Wyoming   Weston        6927          0       0          0
      2020-05-17  Wyoming   Weston        6927          0       0          0

                  Confirmed_Outlier  Deaths_Outlier  Recovered_Outlier  \
FIPS  Date
1001  2020-01-22              False           False              False
      2020-01-23              False           False              False
      2020-01-24              False           False              False
      2020-01-25              False           False              False
      2020-01-26              False           False              False
...                             ...             ...                ...
56045 2020-05-13              False           False              False
      2020-05-14              False           False              False
      2020-05-15              False           False              False
      2020-05-16              False           False              False
      2020-05-17              False           False              False

                  Confirmed_per_100  Deaths_per_100
FIPS  Date
1001  2020-01-22                0.0             0.0
      2020-01-23                0.0             0.0
      2020-01-24                0.0             0.0
      2020-01-25                0.0             0.0
      2020-01-26                0.0             0.0
...                             ...             ...
56045 2020-05-13                0.0             0.0
      2020-05-14                0.0             0.0
      2020-05-15                0.0             0.0
      2020-05-16                0.0             0.0
      2020-05-17                0.0             0.0

[367614 rows x 11 columns]

In [4]:
# Pull off the most recent element of each time series.
cases_without_index = cases.reset_index()
last_date = cases_without_index["Date"].max()
cases_by_county = cases_without_index[cases_without_index["Date"] == last_date].set_index("FIPS")
cases_by_county

,Date,State,County,Population,Confirmed,Deaths,Recovered,Confirmed_Outlier,Deaths_Outlier,Recovered_Outlier,Confirmed_per_100,Deaths_per_100
FIPS,,,,,,,,,,,,
1001,2020-05-17,Alabama,Autauga,55869,110,4,0,False,False,False,0.196889,0.007160
1003,2020-05-17,Alabama,Baldwin,223234,254,8,0,False,False,False,0.113782,0.003584
1005,2020-05-17,Alabama,Barbour,24686,81,1,0,False,False,False,0.328121,0.004051
1007,2020-05-17,Alabama,Bibb,22394,50,1,0,False,False,False,0.223274,0.004465
1009,2020-05-17,Alabama,Blount,57826,46,1,0,False,False,False,0.079549,0.001729
...,...,...,...,...,...,...,...,...,...,...,...,...
56037,2020-05-17,Wyoming,Sweetwater,42343,23,0,0,False,False,False,0.054318,0.000000
56039,2020-05-17,Wyoming,Teton,23464,100,0,0,False,False,False,0.426185,0.000000
56041,2020-05-17,Wyoming,Uinta,20226,10,0,0,False,False,False,0.049441,0.000000
56043,2020-05-17,Wyoming,Washakie,7805,16,0,0,False,False,False,0.204997,0.000000
56045,2020-05-17,Wyoming,Weston,6927,0,0,0,False,False,False,0.000000,0.000000

In [5]:
# Build a second table of the same data aggregated at the state level
cases_by_state = (cases_by_county
 .groupby("State")
 .aggregate({
     "Population": "sum",
     "Confirmed": "sum",
     "Deaths": "sum"
 }))
cases_by_state["Confirmed_per_100"] = cases_by_state["Confirmed"] / cases_by_state["Population"] * 100
cases_by_state["Deaths_per_100"] = cases_by_state["Deaths"] / cases_by_state["Population"] * 100

cases_by_state = cases_by_state[["Population", "Confirmed", "Deaths", \
                                 "Confirmed_per_100", "Deaths_per_100"]]
cases_by_state

,Population,Confirmed,Deaths,Confirmed_per_100,Deaths_per_100
State,,,,,
Alabama,4903185,11771,488,0.240068,0.009953
Alaska,731545,387,10,0.052902,0.001367
Arizona,7278717,13945,679,0.191586,0.009329
Arkansas,3017804,4627,98,0.153323,0.003247
California,39512223,80166,3240,0.202889,0.008200
Colorado,5758736,21855,1214,0.379510,0.021081
Connecticut,3565287,37209,3407,1.043647,0.095560
Delaware,973764,7618,289,0.782325,0.029679
District of Columbia,705749,7123,383,1.009282,0.054269
Florida,21477737,45509,1973,0.211889,0.009186
Georgia,10617423,33943,1585,0.319692,0.014928
Hawaii,1415872,630,17,0.044496,0.001201
Idaho,1787065,2419,73,0.135362,0.004085
Illinois,12671821,94040,4176,0.742119,0.032955
Indiana,6732219,27778,1607,0.412613,0.023870
Iowa,3155070,14643,351,0.464110,0.011125
Kansas,2913314,7953,195,0.272988,0.006693
Kentucky,4467673,7657,334,0.171387,0.007476
Louisiana,4648794,34360,2425,0.739116,0.052164
Maine,1344212,1685,70,0.125352,0.005208
Maryland,6045680,38804,1911,0.641847,0.031609
Massachusetts,6892503,85657,5793,1.242756,0.084048
Michigan,9986857,48396,4831,0.484597,0.048374
Minnesota,5639632,15639,722,0.277305,0.012802
Mississippi,2976149,11296,521,0.379551,0.017506
Missouri,6137428,10213,581,0.166405,0.009467
Montana,1068778,468,16,0.043788,0.001497
Nebraska,1934408,10177,70,0.526104,0.003619
Nevada,3080156,6949,349,0.225605,0.011331
New Hampshire,1359711,3586,132,0.263733,0.009708
New Jersey,8882190,146504,10363,1.649413,0.116672
New Mexico,2096829,5857,265,0.279327,0.012638
New York,19453561,350118,28229,1.799763,0.145110
North Carolina,10488084,18673,686,0.178040,0.006541
North Dakota,762062,1900,37,0.249324,0.004855
Ohio,11689100,27923,1625,0.238881,0.013902
Oklahoma,3956971,5310,288,0.134194,0.007278
Oregon,4217737,3623,137,0.085899,0.003248
Pennsylvania,12801989,65700,4495,0.513202,0.035112
Rhode Island,1059361,10789,0,1.018444,0.000000
South Carolina,5148714,8816,385,0.171227,0.007478
South Dakota,884659,3987,44,0.450682,0.004974
Tennessee,6829174,17019,293,0.249210,0.004290
Texas,28995881,48396,1343,0.166906,0.004632
Utah,3205958,6642,73,0.207177,0.002277
Vermont,623989,935,54,0.149842,0.008654
Virginia,8535519,30388,1010,0.356018,0.011833
Washington,7614893,18332,1001,0.240739,0.013145
West Virginia,1792147,1492,67,0.083252,0.003739
Wisconsin,5822434,12543,453,0.215425,0.007780
Wyoming,578759,754,1,0.130279,0.000173

In [6]:
# Now our data prep is done and we can start analyzing.

# The latest nationwide totals
cases_by_state[["Confirmed", "Deaths"]].sum()

Confirmed    1472204
Deaths         88389
dtype: int64

In [7]:
# Today's nationwide totals, computed from the county-level data
cases_by_county[["Confirmed", "Deaths"]].sum()

Confirmed    1472204
Deaths         88389
dtype: int64

In [8]:
# Top 10 states by confirmed cases:
cases_by_state.sort_values("Confirmed", ascending=False).head(10)

,Population,Confirmed,Deaths,Confirmed_per_100,Deaths_per_100
State,,,,,
New York,19453561,350118,28229,1.799763,0.145110
New Jersey,8882190,146504,10363,1.649413,0.116672
Illinois,12671821,94040,4176,0.742119,0.032955
Massachusetts,6892503,85657,5793,1.242756,0.084048
California,39512223,80166,3240,0.202889,0.008200
Pennsylvania,12801989,65700,4495,0.513202,0.035112
Michigan,9986857,48396,4831,0.484597,0.048374
Texas,28995881,48396,1343,0.166906,0.004632
Florida,21477737,45509,1973,0.211889,0.009186
Maryland,6045680,38804,1911,0.641847,0.031609

In [9]:
# Top 10 states by confirmed cases per 100 residents
cases_by_state.sort_values("Confirmed_per_100", ascending=False).head(10)

,Population,Confirmed,Deaths,Confirmed_per_100,Deaths_per_100
State,,,,,
New York,19453561,350118,28229,1.799763,0.145110
New Jersey,8882190,146504,10363,1.649413,0.116672
Massachusetts,6892503,85657,5793,1.242756,0.084048
Connecticut,3565287,37209,3407,1.043647,0.095560
Rhode Island,1059361,10789,0,1.018444,0.000000
District of Columbia,705749,7123,383,1.009282,0.054269
Delaware,973764,7618,289,0.782325,0.029679
Illinois,12671821,94040,4176,0.742119,0.032955
Louisiana,4648794,34360,2425,0.739116,0.052164
Maryland,6045680,38804,1911,0.641847,0.031609

In [10]:
# Top 10 states by deaths per 100 residents
cases_by_state.sort_values("Deaths_per_100", ascending=False).head(10)

,Population,Confirmed,Deaths,Confirmed_per_100,Deaths_per_100
State,,,,,
New York,19453561,350118,28229,1.799763,0.145110
New Jersey,8882190,146504,10363,1.649413,0.116672
Connecticut,3565287,37209,3407,1.043647,0.095560
Massachusetts,6892503,85657,5793,1.242756,0.084048
District of Columbia,705749,7123,383,1.009282,0.054269
Louisiana,4648794,34360,2425,0.739116,0.052164
Michigan,9986857,48396,4831,0.484597,0.048374
Pennsylvania,12801989,65700,4495,0.513202,0.035112
Illinois,12671821,94040,4176,0.742119,0.032955
Maryland,6045680,38804,1911,0.641847,0.031609

In [11]:
# Top 20 counties by total confirmed cases.
cases_by_county.sort_values("Confirmed", ascending=False).head(20)

,Date,State,County,Population,Confirmed,Deaths,Recovered,Confirmed_Outlier,Deaths_Outlier,Recovered_Outlier,Confirmed_per_100,Deaths_per_100
FIPS,,,,,,,,,,,,
17031,2020-05-17,Illinois,Cook,5150233,62218,2839,0,False,False,False,1.208062,0.055124
36047,2020-05-17,New York,Kings,2559903,59137,6362,0,False,False,False,2.310127,0.248525
36081,2020-05-17,New York,Queens,2253858,52067,5601,0,False,False,False,2.310128,0.248507
36059,2020-05-17,New York,Nassau,1356924,39136,2044,0,False,False,False,2.884170,0.150635
36103,2020-05-17,New York,Suffolk,1476601,38117,1748,0,False,False,False,2.581401,0.118380
6037,2020-05-17,California,Los Angeles,10039107,38011,1821,0,False,False,False,0.378629,0.018139
36061,2020-05-17,New York,New York,1628706,37625,4047,0,False,False,False,2.310116,0.248479
36005,2020-05-17,New York,Bronx,1418207,32762,3524,0,False,False,False,2.310100,0.248483
36119,2020-05-17,New York,Westchester,967506,32224,1289,0,False,False,False,3.330625,0.133229
42101,2020-05-17,Pennsylvania,Philadelphia,1584064,19606,1031,0,False,False,False,1.237703,0.065086
25017,2020-05-17,Massachusetts,Middlesex,1611699,19129,1394,0,False,False,False,1.186884,0.086493
26163,2020-05-17,Michigan,Wayne,1749343,19065,2213,0,False,False,False,1.089838,0.126505
34017,2020-05-17,New Jersey,Hudson,672391,18498,1057,0,False,False,False,2.751078,0.157200
34003,2020-05-17,New Jersey,Bergen,932202,17361,1455,0,False,False,False,1.862365,0.156082
25025,2020-05-17,Massachusetts,Suffolk,803907,16479,787,0,False,False,False,2.049864,0.097897
34013,2020-05-17,New Jersey,Essex,798975,16204,1535,0,False,False,False,2.028099,0.192121
12086,2020-05-17,Florida,Miami-Dade,2716940,15658,561,0,False,False,False,0.576310,0.020648
34031,2020-05-17,New Jersey,Passaic,501826,15205,838,0,False,False,False,3.029935,0.166990
34039,2020-05-17,New Jersey,Union,556341,14702,957,0,False,False,False,2.642624,0.172017
34023,2020-05-17,New Jersey,Middlesex,825062,14668,884,0,False,False,False,1.777806,0.107143

In [12]:
# Top 20 counties by confirmed cases per 100 residents
cases_by_county.sort_values("Confirmed_per_100", ascending=False).head(20)

,Date,State,County,Population,Confirmed,Deaths,Recovered,Confirmed_Outlier,Deaths_Outlier,Recovered_Outlier,Confirmed_per_100,Deaths_per_100
FIPS,,,,,,,,,,,,
47169,2020-05-17,Tennessee,Trousdale,11284,1383,4,0,False,False,False,12.256292,0.035448
5079,2020-05-17,Arkansas,Lincoln,13024,955,8,0,False,False,False,7.332617,0.061425
31043,2020-05-17,Nebraska,Dakota,20026,1458,3,0,False,False,False,7.280535,0.014981
27105,2020-05-17,Minnesota,Nobles,21629,1361,2,0,False,False,False,6.292478,0.009247
47095,2020-05-17,Tennessee,Lake,7016,404,0,0,False,False,False,5.758267,0.000000
31037,2020-05-17,Nebraska,Colfax,10709,516,0,0,False,False,False,4.818377,0.000000
18017,2020-05-17,Indiana,Cass,37689,1553,5,0,False,False,False,4.120566,0.013266
47007,2020-05-17,Tennessee,Bledsoe,15064,607,1,0,False,False,False,4.029474,0.006638
36087,2020-05-17,New York,Rockland,325789,12758,602,0,False,False,False,3.916032,0.184782
20057,2020-05-17,Kansas,Ford,33619,1311,8,0,False,False,False,3.899581,0.023796
39101,2020-05-17,Ohio,Marion,65093,2500,15,0,False,False,False,3.840659,0.023044
20175,2020-05-17,Kansas,Seward,21428,758,1,0,False,False,False,3.537428,0.004667
40139,2020-05-17,Oklahoma,Texas,19983,696,4,0,False,False,False,3.482961,0.020017
39129,2020-05-17,Ohio,Pickaway,58457,2018,25,0,False,False,False,3.452110,0.042766
31047,2020-05-17,Nebraska,Dawson,23595,805,0,0,False,False,False,3.411740,0.000000
20055,2020-05-17,Kansas,Finney,36467,1234,5,0,False,False,False,3.383881,0.013711
36119,2020-05-17,New York,Westchester,967506,32224,1289,0,False,False,False,3.330625,0.133229
34031,2020-05-17,New Jersey,Passaic,501826,15205,838,0,False,False,False,3.029935,0.166990
31151,2020-05-17,Nebraska,Saline,14224,413,0,0,False,False,False,2.903543,0.000000
51159,2020-05-17,Virginia,Richmond,9023,261,4,0,False,False,False,2.892608,0.044331

In [13]:
# Top 20 counties by *deaths* per 100 residents
cases_by_county.sort_values("Deaths_per_100", ascending=False).head(20)

,Date,State,County,Population,Confirmed,Deaths,Recovered,Confirmed_Outlier,Deaths_Outlier,Recovered_Outlier,Confirmed_per_100,Deaths_per_100
FIPS,,,,,,,,,,,,
13243,2020-05-17,Georgia,Randolph,6778,169,21,0,False,False,False,2.493361,0.309826
13273,2020-05-17,Georgia,Terrell,8531,199,24,0,False,False,False,2.332669,0.281327
13099,2020-05-17,Georgia,Early,10190,233,28,0,False,False,False,2.286555,0.274779
36047,2020-05-17,New York,Kings,2559903,59137,6362,0,False,False,False,2.310127,0.248525
36081,2020-05-17,New York,Queens,2253858,52067,5601,0,False,False,False,2.310128,0.248507
36005,2020-05-17,New York,Bronx,1418207,32762,3524,0,False,False,False,2.310100,0.248483
36061,2020-05-17,New York,New York,1628706,37625,4047,0,False,False,False,2.310116,0.248479
36085,2020-05-17,New York,Richmond,476143,10999,1183,0,False,False,False,2.310020,0.248455
34013,2020-05-17,New Jersey,Essex,798975,16204,1535,0,False,False,False,2.028099,0.192121
36087,2020-05-17,New York,Rockland,325789,12758,602,0,False,False,False,3.916032,0.184782
22095,2020-05-17,Louisiana,St. John the Baptist,42837,829,77,0,False,False,False,1.935243,0.179751
34039,2020-05-17,New Jersey,Union,556341,14702,957,0,False,False,False,2.642624,0.172017
34031,2020-05-17,New Jersey,Passaic,501826,15205,838,0,False,False,False,3.029935,0.166990
34017,2020-05-17,New Jersey,Hudson,672391,18498,1057,0,False,False,False,2.751078,0.157200
34003,2020-05-17,New Jersey,Bergen,932202,17361,1455,0,False,False,False,1.862365,0.156082
13095,2020-05-17,Georgia,Dougherty,87956,1661,134,0,False,False,False,1.888444,0.152349
22013,2020-05-17,Louisiana,Bienville,13241,83,20,0,False,False,False,0.626841,0.151046
36059,2020-05-17,New York,Nassau,1356924,39136,2044,0,False,False,False,2.884170,0.150635
13287,2020-05-17,Georgia,Turner,7985,81,12,0,False,False,False,1.014402,0.150282
13205,2020-05-17,Georgia,Mitchell,21863,388,32,0,False,False,False,1.774688,0.146366